@import "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css";
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700);

/* Variables */;

//colors
$default-text-color: #333;
$border-color: #ccc;
$selection-bg: #e3eef7;
$red: #dd0806;
$grey: #999;

//sizes
$default-text-size: 18px;

* {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: $default-text-size;
}

body {
	max-width: 1200px;
}

h3 {
	font-size: 1.8*$default-text-size;
	font-weight: bold;
}

#navbar-wrapper {
	background: none;
	border: none;

	#navbar {
		border-bottom: solid 1px $border-color;
		padding: 15px 0;
	}
}

#user-menu-dropdown {
	background: #ddd;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
		
	.navbar-user-photo {
	border-radius: 20px;
	display: inline-block;
	height: 40px;
	overflow: hidden;
	position: relative;
	top: 2px;
	width: 40px;

		img {
			height: 100%;
		}
	}

	.navbar-user {
		display: inline-block;
		margin: 0 10px 0 5px;

		.navbar-user-name {
			font-weight: bold;
		}

		.navbar-user-mail {
			font-size: 0.85*$default-text-size;
		}
	}

	.caret {
		position: relative;
		top: -13px;
	}

}

#user-menu-dropdown:hover {
	background: #ccc;
}

#side-menu {
	li {
		a {
			color: $default-text-color;
			font-size: 1.2*$default-text-size;
		}

		img {
			margin-right: 10px;
			opacity: 0.5;
			position: relative;
			top: -2px;
			width: 25px;	
		}
	}

	li.active {
		a {
			background-color: $selection-bg;
		}

		img {
			opacity: 0.75;
		}
	}
}

// Banners

#main-content .banner {
	background-position: 100% 100%;
	height: 150px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;

	.banner-message {
		color: #fff;
	    position: absolute;

	    a {
	    	background-color: rgba(0, 0, 0, 0.6);
	    	color: #fff;
	    	display: block;
	    	height: 100%;
	    	text-decoration: none !important;
	    	transition: background-color, 0.5s, ease-out, 0s;
	    }

	    a:hover {
	    	background-color: rgba(33, 33, 33, 0.9);
	    }

	    h6 {
	    	font-size: 1.2*$default-text-size;
	    	font-weight: bold;
	    	margin-bottom: 5px;
	    }

	    p {
	    	font-size: 0.85*$default-text-size;
	    }
	}
}

// Instagram Banner

#insta-banner {
	background-image: url('../img/instabanner.png');

	.start-here {
		background: $red;
		color: #fff;
		font-size: $default-text-size;
		font-weight: bold;
		left: -55px;
	    padding: 0 50px;
	    position: absolute;
	    top: 22px;
		transform: rotate(-45deg);
	}
	
	.banner-message {
		height: 80px;
	    min-width: 250px;
	    right: 30px;
	    top: 35px;

	    a {
			background-image: url('../img/instagram.svg');
			background-repeat: no-repeat;
			background-position: 15px 15px;
			background-size: 35px;
	    	padding: 5px 10px 5px 60px;
	    	
	    }
	}
	
}

// Campaign Banner
#campaign {
	background-image: url('../img/v-neck.png');
	display: none;
	padding: 0;

	.banner-message {
		height: 100%;
		margin: 0;

		a {
			padding: 20px;

			span {
				color: #ddd;
				font-size: 0.7*$default-text-size;
				letter-spacing: 2px;
			}

			h6 {
				margin-bottom: 15px !important;
			}

			p {
				color: #ddd;
			}

			button {
				background-color: #000;
				color: #fff;
				margin-right: 10px;
			}
		}
	}
}

// Earnings
$circle-size: 90px;

#earnings {
	margin-bottom: 30px;

	h3 {
		margin-bottom: 20px;
	}
}

.earnings-item {
	margin-bottom: 20px;
}

.earnings-ammount {
	border-radius: 50%;
	color: #fff;
	font-weight: bold;
	height: $circle-size;
	line-height: $circle-size;
	text-align: center;
	width: $circle-size;
}

.earnings-label {
	display: table;
	height: $circle-size;
	padding-left: 8px;

	span {
		color: $grey;
		display: table-cell;
		font-size: 0.85*$default-text-size;
		vertical-align: middle;
	}
}

.earnings-recent .earnings-ammount {
	background-color: #53738c;
}

.earnings-account .earnings-ammount {
	background-color: #ab3e3e;
}

// Charts
#earnings-data {
	display: none;
}

#charts {
	position: relative;
	tspan {
		font-size: 1.2*$default-text-size;
		font-weight: bold;
	}
}

#modal-connect {
	display: block;
	position: absolute;
	top: -40px;

	.modal-header {
		border: none;
		padding: 10px 0;
	}

	h2 {
		font-weight: bold;
	}

	.modal-body .btn span {
		background: url('../img/instagram-dark.svg') no-repeat;
		background-size: 24px;
		display: block;
		padding-left: 35px;
	}
}

#instagram-auth {
	.instagram-text-logo {
		width: 90%;
	}
}

// Tables 

#likers-table {
	display: none;
}